<h2>Thông tin công ty</h2>

<table>
  <thead>
    <th></th>
    <th>Thông tin</th>
  </thead>
  <tbody>
    <tr>
      <td>
        Tên Công ty:
      </td>
      <td>
        {{ submitData.companyName }}
      </td>
    </tr>

    <tr>
      <td>
        Website:
      </td>
      <td>
        {{ submitData.website }}
      </td>
    </tr>

    <tr>
      <td>
        Mô tả:
      </td>
      <td>
        {{ submitData.description }}
      </td>
    </tr>

    <tr>
      <td>
        Ngày thành lập:
      </td>
      <td>
        {{ submitData.dateOfEstablishment | date: 'fullDate' }}
      </td>
    </tr>

    <tr
      *ngFor="
        let item of submitData.address | keyvalue: sortNull;
        let i = index
      "
    >
      <td>{{ address[i] }}:</td>
      <td>
        {{ item.value }}
      </td>
    </tr>

    <tr *ngFor="let item of submitData.welfares; let i = index">
      <td>Phúc lợi {{ i + 1 }}:</td>
      <td>
        {{ item }}
      </td>
    </tr>
  </tbody>
</table>
